.card-item{
    margin-top: 5px;
    /* display: flex; */

}
.nav{
    display: flex;
    padding: 2px;
    cursor: pointer;
}
.nav div{
    flex-direction: row;
    /* margin-left: 30px; */
    display: block;
}
.superadminbtn button{
    float: right;
}
@media only screen and (max-width: 480px){
    .superadminbtn button{
        float: left;
    }
    /* .nav div{
        flex-wrap:wrap;
    } */
 }
 @media only screen and (max-width: 1024px){
    .superadminbtn button{
        float: right;
        margin-right: 80px;
    }
    /* .nav div{
        flex-wrap:wrap;
    } */
 }