.WebContainer{
  width:100%;
  min-width:1000px;
  height:auto;
}
.cmp{
  background-color: #d9d9d9;
    
}

.card{
    border: 2px solid #eee;
    box-shadow: 2px 2px 5px #ccc;
}
@media only screen and (max-width: 480px){
 
 .cmp{
  background-color: #d9d9d9;
}
}
@media only screen and (max-width: 659px){
  
  .cmp{
  background-color: #d9d9d9;
}
 }

